
[buildout]
extends = sources.cfg
unzip = true
parts = syseggs django

eggs +=
#  ${buildout:doc_eggs}
#  ${buildout:test_eggs}

doc_eggs =
  docutils

test_eggs =
  coverage
  django-nose
  django-snippetscream
  nose
  nose-html-reporting
  Jinja2
  factory_boy
  mock
  prospector
  sauceclient
  selenium


[django]
recipe = djangorecipe
project = project
settings = development
eggs = ${buildout:eggs}

[test]
recipe = collective.recipe.template
input = scripts/test.in
output = ${buildout:bin-directory}/test
settings = development

[saucetest]
recipe = collective.recipe.template
input = scripts/saucetest.in
output = ${buildout:bin-directory}/saucetest
settings = development

[doc]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc
build = ${buildout:directory}/doc/build


